*~
.DS_Store

# Cached Python precompiled filess:
**/__pycache__/
*.pyc

# File-based project format:
**/.idea/*.iws

# PyCharm IDE user specific project configuration files:
**/.idea/workspace.xml
**/.idea/tasks.xml